body {
  margin: 150px;
}

h1 {
 color: blue;
 text-align: center;
}

select {
  border-radius: 4px;
  background-color: blue;
  color: white;
}

input {
  border-radius: 4px;

}

button {
  border-radius: 4px;
  color: white;
  background-color: blue;
}
